.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.image-container, .content-container {
    width: 45%; /* reduced width to create some space between the containers */
    margin: 20px;
}

.image-container img {
    width: 100%;
    border-radius: 80%; /* make the image circular */
}

.content-container {
    line-height: 1.6; /* improve readability */
}

.carousel {
    display: flex;
    overflow-x: auto;
    margin-top: 40px; /* add some space above the carousel */
}

.carousel img {
    margin-right: 10px;
    transition: transform 0.3s ease; /* add a transition */
}

.carousel img:hover {
    transform: scale(1.1); /* zoom in on hover */
}

.carousel-image {
    width: 350px;
    height: 350px;
}